<div class='small-7 large-centered columns favorite' id='favorite-<%= favorite.id %>'>
  <div>
    <%= favorite.tweeter_name %>
    @<%= favorite.tweeter_screen_name %>
    <%= favorite.date_tweeted %>
  </div><br />
  <div>
    <%= favorite.text %>
  </div><br />
  <div>
    ☆ <%=favorite.favorite_count %>
    <span>&nbsp;&nbsp;&nbsp;</span>
    ♲ <%=favorite.retweet_count %>
  </div>
</div><br />