<div class='small-7 large-centered columns favorite' id='favorite-<%= favorite.id %>'>
  <%= image_tag favorite.tweeter_profile_image_url.to_s, class: 'fave-profile-pic' %>
  <div class='fave-content'>
    <div class='fave-header'>
      <%= favorite.tweeter_name %>
      @<%= favorite.tweeter_screen_name %>
      <%= time_ago_in_words favorite.date_tweeted %> ago
    </div><br />
    <div class='fave-text'>
      <%= favorite.text.html_safe %>
    </div><br />
    <div class='fave-stats'>
      ☆ <%=favorite.favorite_count %>
      <span>&nbsp;&nbsp;&nbsp;</span>
      ♲ <%=favorite.retweet_count %>
    </div>
  </div>
</div><br />