<div class='fixed'>
  <nav class='top-bar' data-topbar>
    <ul class='title-area'>
      <li class='name'><h1><%= link_to '☆pluck' %></h1></li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">pluck</a>
            </div>
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
          </div>
        </li>
      </ul>
      <ul class='left'>
        <li><%= link_to 'freshest' %></li>
        <li><%= link_to 'ripest' %></li>
        <li><%= link_to 'most favorited' %></li>
        <li><%= link_to 'most retweeted' %></li>
      </ul>
    </section>
  </nav>
</div>