<div class='fixed'>
  <nav class='top-bar' data-topbar>
    <ul class='title-area'>
      <li class='name'><h1><%= link_to '☆pluck' %></h1></li>
    </ul>
    <section class='top-bar-section'>
      <ul class='right'>
        <li class='has-form'>
          <%= form_tag '/favorites', method: :get do %>
            <div class='row collapse'>
              <div class='large-3 small-3 columns'>
                <%= submit_tag 'pluck', name: nil, class: 'alert button expand' %>
              </div>
              <div class='large-9 small-9 columns'>
                <%= text_field_tag :query, params[:query], placeholder: 'just type' %>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
      <ul class='left'>
        <li><%= sortable 'freshest', 'date_tweeted' %></li>
        <li><%= sortable 'ripest', 'date_tweeted', 'ASC' %></li>
        <li><%= sortable 'sweetest', 'favorite_count' %></li>
        <li><%= sortable 'juiciest', 'retweet_count' %></li>
        <li><%= shufflable 'unpickiest'%></li>
      </ul>
    </section>
  </nav>
</div>