<div class='fixed'>
  <nav class='top-bar' data-topbar>
    <ul class='title-area'>
      <li class='name'><h1><%= link_to '☆pluck' %></h1></li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        <li class="has-form">
          <div class="row collapse">
            <div class="large-3 small-3 columns">
              <a href="#" class="alert button expand">pluck</a>
            </div>
            <div class="large-9 small-9 columns">
              <input type="text" placeholder="just type">
            </div>
          </div>
        </li>
      </ul>
      <ul class='left'>
        <li><%= link_to 'freshest', sort: 'date_tweeted' %></li>
        <li><%= link_to 'ripest', sort: 'date_tweeted' %></li>
        <li><%= link_to 'most favorited', sort: 'favorite_count' %></li>
        <li><%= link_to 'most retweeted', sort: 'retweet_count' %></li>
      </ul>
    </section>
  </nav>
</div>